$whatsapp_green: #009688;
$whatsapp_gray: #f7f9fa;
$whatsapp_title: #525252;


$whatsapp_gray_bg: #ededed;
$whatsapp_conversation_background_color: #e5ddd5;

$text_outstanding: #000000;
$text_last_msg: rgba(0,0,0,.8);

$chat_box_wrapper_max_width: 1300px;
$chat_box_wrapper_min_width: 800px;

$icon_color: #4a4a4a;
