@import "../../../../variables.scss";

:host {
  background-color: $whatsapp_gray_bg;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

.new-group-icon {
  margin: 0 20px 0 20px;
}

.icon-div {
  color: $icon_color;
  padding: 5px 10px;
  cursor: pointer;

  .icon {
    width: 24px;
    height: 24px;
  }
}
